<div class="container">
  <div class="row">
    <div class="col-md-3 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <span class="block text-500 font-medium mb-3">Total</span>
            <h1 class="font-bold p-0 m-0">
              {{ dashboardInfo.system_wide_info.containers.total }}
            </h1>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="fa-solid fa-box-open text-blue-500 text-xl p-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <span class="block text-500 font-medium mb-3">Running</span>
            <h1 class="font-bold p-0 m-0">
              {{ dashboardInfo.system_wide_info.containers.running }}
            </h1>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-green-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="fa-solid fa-rocket text-green-500 text-xl p-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <span class="block text-500 font-bold mb-3">Paused</span>
            <h1 class="font-bold p-0 m-0">
              {{ dashboardInfo.system_wide_info.containers.paused }}
            </h1>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-yellow-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="fa-solid fa-circle-pause text-yellow-500 text-xl p-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <span class="block text-500 font-bold mb-3">Stopped</span>
            <h1 class="font-bold p-0 m-0">
              {{ dashboardInfo.system_wide_info.containers.stopped }}
            </h1>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-red-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="fa-solid fa-skull text-red-500 text-xl p-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <h3>
              Docker API Version:
              <span
                class="text-blue-500 border-round p-1"
                pTooltip="The default API version that is supported by the daemon"
                tooltipPosition="top"
              >
                {{ dashboardInfo.docker_info.api_version }}
              </span>
            </h3>

            <h3>
              Platform Version:

              <span
                class="text-yellow-500 border-round p-1"
                pTooltip="The version of the daemon"
                tooltipPosition="top"
              >
                {{ dashboardInfo.docker_info.platform_version }}
              </span>
            </h3>

            <h3>
              Go Version:
              <span
                class="text-purple-500 border-round p-1"
                pTooltip="The version Go used to compile the daemon, and the version of the Go runtime in use."
                tooltipPosition="top"
              >
                {{ dashboardInfo.docker_info.go_version }}
              </span>
            </h3>

            <h3>
              Host OS Type:
              <span
                severity="warning"
                size="large"
                class="text-green-500 border-round p-1"
              >
                {{ dashboardInfo.system_wide_info.os.type }}
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="surface-card shadow-1 p-5 border-round">
        <div class="flex justify-content-between mb-1">
          <div>
            <h3>
              OS Name:
              <span class="text-pink-500 border-round p-2">
                {{ dashboardInfo.system_wide_info.os.name }}
              </span>
            </h3>

            <h3>
              Total Memory:
              <span class="text-teal-500 border-round p-1">
                {{ dashboardInfo.system_wide_info.total_memory }}
              </span>
            </h3>

            <h3>
              CPU count:
              <span
                class="text-red-500 border-round p-1"
                pTooltip="The number of logical CPUs usable by the daemon."
              >
                {{ dashboardInfo.system_wide_info.cpu_count.toString() }}
              </span>
            </h3>

            <h3>
              Kernel Version:
              <span class="text-primary-500 border-round p-1">
                {{ dashboardInfo.system_wide_info.kernel_version }}
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <small>Running on {{ dashboardInfo.docker_info.platform_name }} 
  </small>
</div>
