<h1
  class="dodger-blue mt-3 text-center fw-bold"
  data-aos="fade-down"
  data-aos-duration="500"
>
  <i class="fas fa-box-open"></i> <span class="navbar-text">Images</span> <br />
  <button class="btn btn-secondary text-capitalize" routerLink="/pull-images">
    <i class="fas fa-cloud-download-alt"></i> Pull Images
  </button>
</h1>

<div class="container p-3">
  <div
    class="card m-3 w-50 mb-3 m-auto"
    *ngFor="for; let image; of: images"
    data-aos="zoom-out"
    data-aos-duration="500"
  >
    <div class="card-body">
      <h5 class="card-title dodger-blue">
        <i class="fas fa-cube"></i> {{ image.name + ":" + image.tag }}
      </h5>
      <div class="row">
        <div class="col-md-6">
          {{ image.short_id }}
        </div>
        <div class="col-md-6">
          <div class="float-end">
            <button
              class="btn dodger-blue-bg text-white"
              routerLink="/images/{{ image.short_id }}"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
