@import "~ngx-toastr/toastr";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: "Comfortaa", sans-serif;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Oregano";
  src: url("./assets/fonts/Oregano-Regular.ttf");
}

.navbar-text {
  font-family: "Oregano";
  font-weight: bold;
  font-size: 45px;
  padding: 0;
  cursor: pointer;
}

.dodger-blue {
  color: #0288d1;
}

.dodger-blue-bg {
  background: #0288d1;
  color: white;
  text-transform: capitalize;
}

.content {
  margin-top: 55px;
  margin-left: 200px;
  padding: 20px 20px;
}

textarea {
  padding: 8px;
  font-family: "Ubuntu Mono";
  color: white;
  white-space: pre-line;
  border-radius: 5px;
  background-color: #000;
  border: 1px solid #000;
  background-color: rgb(41, 41, 41);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  font-size: 15px;
  resize: none;
}
