@import "~ngx-toastr/toastr";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

* {
  font-family: "Fira Sans", sans-serif;
}

@font-face {
  font-family: "OdibeeSans";
  src: url("./assets/fonts/OdibeeSans.ttf");
}

.navbar-text {
  font-family: "OdibeeSans";
  padding: 0;
  cursor: pointer;
}

.dodger-blue {
  color: DodgerBlue;
}

.dodger-blue-bg {
  background: DodgerBlue;
  color: white;
  text-transform: capitalize;
}

.content {
  margin-top: 55px;
  margin-left: 200px;
  padding: 20px 20px;
}
