<button class="btn btn-sm hide-btn" (click)="hideOrShow(sidebar, content)">
  <i class="fas fa-angle-double-left" *ngIf="!isHidden"></i>
  <i class="fas fa-angle-double-right" *ngIf="isHidden"></i>
</button>
<div class="sidebar fixed" #sidebar>
  <ul>
    <hr />
    <li class="pointer" routerLink="containers">
      <span class="text-gray"> Containers</span>
    </li>
    <hr />
    <li class="pointer" routerLink="images">
      <span class="text-gray"> Images</span>
    </li>

    <hr />
    <li class="pointer" routerLink="pull-list">
      <span class="text-gray"> Pulls </span>
      <span class="badge dodger-blue-bg">beta</span>
    </li>

    <hr />

    <li class="pointer" routerLink="about">
      <span class="text-gray"> About</span>
    </li>
    <hr />
  </ul>
</div>

<div class="content" #content>
  <div class="row">
    <div class="col">
      <button class="btn btn-sm float-start rounded m-3" (click)="back()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="btn btn-sm float-end rounded m-3" (click)="next()">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
