<div class="container mt-2 p-3">
  <div class="row p-3 mb-2">
    <div
      class="col-md-6 d-flex align-items-center justify-content-center"
      data-aos="zoom-in"
      data-aos-duration="500"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <strong>Assalomu alaykum!</strong>
          </h5>

          I decided to create a dashboard for working with Docker easily. Now,
          you can manage your containers and images.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/container-ship.svg" class="img-fluid" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-2" data-aos="fade-right" data-aos-duration="500">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <strong>
              <i class="fas fa-archive dodger-blue"></i>
              Containers
            </strong>
          </h5>

          <p>
            A Docker container image is a lightweight, standalone, executable
            package of software that includes everything needed to run an
            application. In this section, you can manage your containers.
          </p>
          <button
            type="button"
            routerLink="containers"
            class="btn dodger-blue-bg"
          >
            Go
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2" data-aos="fade-left" data-aos-duration="500">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <strong
              ><i class="fas fa-compact-disc dodger-blue"></i> Images</strong
            >
          </h5>

          <p>
            A Docker image is a file used to execute code in a Docker container.
            Docker images act as a set of instructions to build a Docker
            container, like a template. In this section, you can manage your
            images.
          </p>
          <button type="button" routerLink="images" class="btn dodger-blue-bg">
            Go
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
