<div class="container mt-2 p-3">
  <div
    class="row"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="navbar-text dodger-blue card-title">Welcome!</h4>
        <div class="text-center">
          <img
            src="assets/images/docker.png"
            class="img-fluid rounded-pill img-thumbnail"
            width="750px"
            alt=""
          />
        </div>

        <div class="border p-3 mt-2">
          <p>
            Thanks for using <strong>Docker Dashboard!</strong> I hope this
            application will help with your development process. Now the
            application has basic functionality and I have great plans for the
            future. If you want to support my work, just star on this GitHub
            repository and share this with your friends. Also, I opened a
            discussion on GitHub. I would be very happy if you write any ideas,
            feedback & suggestions.
          </p>
          <figcaption class="blockquote-footer">Abduaziz Ziyodov</figcaption>
        </div>
        <p class="mt-2 p-3 text-center">
          Choose any section from the left & start to manage your resources!
        </p>
      </div>
    </div>
  </div>
</div>
