<form
  [formGroup]="runContainerForm"
  class="text-center border border-light w-75 m-auto"
  data-aos="fade-right"
>
  <mdb-form-control class="mb-3">
    <input
      mdbInput
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
    />
    <label mdbLabel class="form-label" for="name">Container Name</label>
  </mdb-form-control>

  <mdb-form-control class="mb-3">
    <input
      mdbInput
      type="text"
      id="entrypoint"
      class="form-control"
      formControlName="entrypoint"
    />
    <label mdbLabel class="form-label" for="name">Entrypoint</label>
  </mdb-form-control>

  <mdb-form-control class="mb-3">
    <input
      mdbInput
      type="text"
      id="entrypoint"
      class="form-control"
      formControlName="command"
    />
    <label mdbLabel class="form-label" for="name">Command</label>
  </mdb-form-control>

  <div class="row">
    <div class="col-6">
      <mdb-form-control class="mb-3">
        <input
          mdbInput
          type="text"
          id="firstPort"
          class="form-control"
          formControlName="firstPort"
        />
        <label mdbLabel class="form-label" for="name">Port</label>
      </mdb-form-control>
    </div>
    <div class="col-6">
      <mdb-form-control class="mb-3">
        <input
          mdbInput
          type="text"
          id="secondPort"
          class="form-control"
          formControlName="secondPort"
        />
        <label mdbLabel class="form-label" for="name">Port</label>
      </mdb-form-control>
    </div>
  </div>

  <span class="text-center">
    Environment Variables
    <button
      type="button"
      (click)="addEnvironmentVariable()"
      class="btn btn-primary btn-sm"
    >
      <i class="fas fa-plus-circle"></i>
    </button>
  </span>

  <div formArrayName="env" class="mt-2">
    <div
      class="row mb-2"
      *ngFor="let env of environment().controls; let index = index"
      [formGroupName]="index"
    >
      <div class="col-4">
        <mdb-form-control>
          <input
            mdbInput
            type="text"
            id="key"
            class="form-control form-control-sm"
            formControlName="key"
          />
          <label mdbLabel class="form-label" for="name">Key</label>
        </mdb-form-control>
      </div>

      <div class="col-6">
        <mdb-form-control>
          <input
            mdbInput
            type="text"
            id="value"
            class="form-control form-control-sm"
            formControlName="value"
          />
          <label mdbLabel class="form-label" for="name">Value</label>
        </mdb-form-control>
      </div>

      <div class="col-2">
        <button
          (click)="removeEnvironmentVariable(index)"
          class="btn btn-danger btn-sm"
        >
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <hr />

  <button
    type="submit"
    (click)="formSubmit()"
    class="btn btn-success text-capitalize m-2"
  >
    <i class="fas fa-fire"></i> Run
  </button>

  <button
    (click)="data.modalRef?.close()"
    class="btn btn-danger text-capitalize m-2"
    [disabled]="runContainerForm.valid ? false : true"
  >
    <i class="fas fa-times-circle"></i> Close
  </button>
</form>
