<p-toast position="bottom-left"></p-toast>

<div class="card m-5" *ngIf="!containers.length">
  <div class="text-center">
    <img
      src="assets/images/confused.jpg"
      style="border-radius: 5%"
      width="30%"
      alt=""
    />
    <h2>Containers?</h2>
    <br />
    <strong> You can try this in your command line: </strong> <br />
    <code style="font-family: 'Fira Mono'">docker run hello-world</code>
    <p-divider align="center">Or</p-divider>
    <p-button
      label="New"
      icon="fa-solid fa-plus"
      size="small"
      severity="success"
      [routerLink]="['new']"
    ></p-button>
  </div>
</div>

<div class="card m-2" *ngIf="containers.length">
  <h2>
    Containers
    <p-button
      label="New"
      icon="fa-solid fa-plus"
      size="small"
      severity="success"
      [routerLink]="['new']"
    ></p-button>
  </h2>
  <p-table
    class="shadow-1"
    [rows]="5"
    [value]="containers"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [loading]="isLoading"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>State</th>
        <th pSortableColumn="image.name">
          Image <p-sortIcon field="image.name"></p-sortIcon>
        </th>

        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-container let-columns="columns">
      <tr>
        <td>
          <p-button
            [size]="'small'"
            [label]="container.short_id"
            severity="info"
          ></p-button>
        </td>
        <td>
          <p-button
            [outlined]="true"
            [label]="container.name"
            severity="help"
          ></p-button>
        </td>
        <td>
          <p-button
            [outlined]="true"
            [size]="'small'"
            [label]="container.status.toUpperCase()"
            [severity]="getContainerStatus(container.status)"
          ></p-button>
        </td>
        <td>
          <strong>
            {{ container.image.name + ":" + container.image.tag }}
          </strong>
        </td>

        <td>
          <p-button
            severity="success"
            size="small"
            *ngIf="container.status != 'running'"
            class="m-1"
            icon="fa-solid fa-play"
            (onClick)="containerAction(container, 'start')"
          >
          </p-button>

          <p-button
            size="small"
            severity="help"
            *ngIf="container.status == 'running'"
            class="m-1"
            icon="fa-solid fa-pause"
            (onClick)="containerAction(container, 'pause')"
          ></p-button>

          <p-button
            severity="danger"
            *ngIf="container.status == 'running'"
            class="m-1"
            size="small"
            icon="fa-solid fa-stop"
            (onClick)="containerAction(container, 'stop')"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
