<nav class="navbar navbar-expand-lg fixed-top bg-light shadow-1-strong">
  <div class="container">
    <h1 class="navbar-text fw-bold dodger-blue" routerLink="">
      <img src="assets/icons/Icon.svg" width="55px" /> Docker Dashboard
    </h1>
  </div>
</nav>

<div class="sidebar fixed">
  <ul class="list-group text-center p-2">
    <hr />

    <li
      class="pointer list-group-item"

      routerLink="containers"
    >
      <span class="text-gray"><i class="fas fa-cube"></i> Containers</span>
    </li>
    <hr />
    <li
      class="pointer list-group-item"
      routerLink="images"
    >
      <span class="text-gray"> <i class="fas fa-box-open"></i> Images</span>
    </li>
    <hr />
    <li
      class="pointer list-group-item"
      routerLink="pull-list"
    >
      <span class="text-gray">
        <i class="fas fa-cloud-download-alt"></i> Pulls </span
      >
      <span class="badge dodger-blue-bg">beta</span>
    </li>

    <hr />
    <li class="pointer list-group-item" style="border: none" routerLink="about">
      <span class="text-gray"> <i class="fas fa-info-circle"></i> About</span>
    </li>
    <hr />
  </ul>
</div>
