<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <h1 class="navbar-text fw-bold m-auto" routerLink="">
      <i class="fab fa-docker"></i> Docker Dashboard
    </h1>
    <button
      [ngClass]="isRunning ? 'btn-success' : 'btn-danger'"
      class="btn btn-sm btn-rounded text-capitalize fw-bold"
      style="box-shadow: none"
    >
      <i class="fas fa-circle fa-beat"></i> {{ isRunning ? "Running" : "Stopped" }}
    </button>
  </div>
</nav>

<div class="sidebar fixed">
  <ul class="list-group text-center p-2">
    <hr />

    <li class="list-group-item" style="border: none">
      <button
        class="btn dodger-blue-bg text-capitalize"
        routerLink="containers"
      >
        <i class="fas fa-th-large"></i> Containers
      </button>
    </li>
    <hr />
    <li class="list-group-item" style="border: none">
      <button class="btn dodger-blue-bg text-capitalize" routerLink="images">
        <i class="fas fa-compact-disc"></i> Images
      </button>
    </li>
    <hr />
    <li class="list-group-item" style="border: none">
      <button class="btn dodger-blue-bg text-capitalize" routerLink="images">
        <i class="fas fa-info-circle"></i> About
      </button>
    </li>
    <hr />
  </ul>
</div>
