<nav class="navbar navbar-expand-lg fixed-top bg-light shadow-1-strong">
  <div class="container">
    <h1 class="navbar-text fw-bold dodger-blue" routerLink="">
      <img src="assets/icons/Icon.svg" width="55px" /> Docker Dashboard
    </h1>
    <button
      [ngClass]="isRunning ? 'btn-success' : 'btn-danger'"
      class="btn btn-sm btn-rounded text-capitalize fw-bold"
      style="box-shadow: none"
    >
      <i class="fas fa-circle fa-beat"></i>
      {{ isRunning ? "Running" : "Stopped" }}
    </button>
  </div>
</nav>

<div class="sidebar fixed">
  <ul class="list-group text-center p-2">
    <hr />

    <li
      class="pointer list-group-item"
      style="border: none"
      routerLink="containers"
    >
      <span class="text-gray"><i class="fas fa-cube"></i> Containers</span>
    </li>
    <hr />
    <li
      class="pointer list-group-item"
      style="border: none"
      routerLink="images"
    >
      <span class="text-gray"> <i class="fas fa-box-open"></i> Images</span>
    </li>
    <hr />
    <li class="pointer list-group-item" style="border: none" routerLink="about">
      <span class="text-gray"> <i class="fas fa-info-circle"></i> About</span>
    </li>
    <hr />
  </ul>
</div>
