.sidebar {
  width: 200px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  margin-top: 40px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.text-gray {
  color: rgb(95, 95, 95);
}

.pointer {
  cursor: pointer;
}


li {
  border: none
}