<p
  data-aos="zoom-in"
  data-aos-duration="500"
  *ngIf="data.containers?.length == 0"
  class="note border note-primary text-center"
>
  There are no containers <i class="fas fa-exclamation-circle"></i>
</p>

<table *ngIf="data.containers?.length != 0" class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th><i class="far fa-list-alt"></i> ID</th>
      <th><i class="fas fa-tags"></i> Name</th>
      <th><i class="fas fa-battery-three-quarters"></i> Status</th>
    </tr>
  </thead>
  <tbody
    *ngFor="for; let container; of: data.containers; index as i"
    data-aos="zoom-in"
    data-aos-duration="500"
  >
    <tr>
      <td>
        <span class="btn btn-sm btn-warning text-lowercase">{{
          container.short_id
        }}</span>
      </td>
      <td>
        <button
          class="btn btn-primary text-lowercase btn-light"
          type="button"
          mdbDropdownToggle
        >
          {{ container.name }}
        </button>
      </td>
      <td>
        <span
          class="text-capitalize p-2 badge badge-{{
            getStatus(container.status)
          }} rounded-pill d-inline"
        >
          {{ container.status }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
