<div class="container p-3">
  <h2 class="h2-responsive text-center fw-bold navbar-text">
    <i class="fas fa-cubes"></i> Containers
  </h2>

  <div class="card" data-aos="zoom-in" data-aos-duration="500">
    <div class="card-body">
      <p
        data-aos="zoom-in"
        data-aos-duration="500"
        data-aos-once="true"
        *ngIf="containers.length == 0"
        class="note border note-primary text-center"
      >
        There are no containers <i class="fas fa-exclamation-circle"></i>
      </p>
      <table
        *ngIf="containers.length != 0"
        class="table align-middle mb-0 bg-white"
      >
        <thead class="bg-light">
          <tr>
            <th></th>
            <th>Container ID</th>
            <th><i class="fas fa-battery-three-quarters"></i> Status</th>
            <th><i class="fas fa-box-open"></i> Image</th>
            <th><i class="fas fa-tags"></i> Container Name</th>
            <th><i class="fas fa-cogs"></i> Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="for; let container; of: containers; index as i">
          <tr>
            <td>{{ i + 1 }}.</td>
            <td>
              <button
                type="button"
                (click)="copyId(container.short_id)"
                class="btn btn-secondary btn-sm text-lowercase btn-rounded"
              >
                <i class="fas fa-clone"></i> {{ container.short_id }}
              </button>
            </td>
            <td>
              <span
                class="text-capitalize p-2 badge badge-{{
                  getStatus(container.status)
                }} rounded-pill d-inline"
              >
                {{ container.status }}</span
              >
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-rounded text-lowercase"
                [routerLink]="['/images', container.image.short_id]"
              >
                {{ container.image.name }}
              </button>
            </td>

            <td>
              <button type="button" class="btn btn-rounded text-lowercase">
                {{ container.name }}
              </button>
            </td>

            <td>
              <a
                *ngIf="container.status == 'exited'"
                class="btn btn-sm m-1 btn-success text-white"
                (click)="startContainer(container.short_id)"
                mdbTooltip="Start"
              >
                <i class="fas fa-play"></i
              ></a>

              <a
                *ngIf="container.status != 'exited'"
                class="btn btn-sm m-1 btn-warning text-white"
                (click)="stopContainer(container.short_id)"
                mdbTooltip="Stop"
              >
                <i class="fas fa-stop"></i
              ></a>

              <a
                class="btn btn-sm m-1 btn-danger text-white"
                (click)="getConfirmModal(container)"
                mdbTooltip="Delete"
              >
                <i class="fas fa-trash"></i
              ></a>

              <a
                class="btn btn-sm m-1 btn-primary text-white"
                style="background-color: #4c75a3"
                [routerLink]="['/logs', container.short_id]"
                mdbTooltip="Logs"
              >
                <i class="fas fa-file-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
