<div class="container">
  <div class="text-center">
    <div *ngIf="isLoading" class="spinner-grow dodger-blue" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading" class="row">
    <div
      class="card w-75 m-auto p-2"
      data-aos="zoom-in"
      data-aos-duration="500"
    >
      <div class="card-body">
        <h2 class="card-title fw-bold text-center">
          <i
            *ngIf="imageInfo?.is_official"
            class="fas fa-award dodger-blue"
          ></i>
          <i
            *ngIf="!imageInfo?.is_official"
            class="fas fa-cube text-warning"
          ></i>

          {{ repository }}
        </h2>

        <blockquote
          *ngIf="imageInfo?.description"
          class="note note-primary border text-center m-auto mb-2"
        >
          {{ imageInfo?.description }}
        </blockquote>

        <ul class="list-group list-group-light">
          <span class="fw-bold">Pulled versions:</span>
          <li
            class="list-group-item text-center"
            *ngIf="pulledVersions.length == 0"
          >
            You have not pulled any version of the
            <code>{{ repository }}</code
            >.
          </li>
          <li
            class="list-group-item"
            *ngFor="let image of pulledVersions; index as i"
          >
            {{ image.name }}
            <span class="badge dodger-blue-bg rounded-pill text-lowercase">
              {{ image.tag }}
            </span>
          </li>
        </ul>

        <div class="mt-3 p-1 m-auto text-center">
          <mdb-form-control style="width: 30%; margin: auto">
            <input
              mdbInput
              type="text"
              [(ngModel)]="selectedTag"
              id="tag-input"
              class="form-control"
            />
            <label mdbLabel class="form-label" for="tag-input">Tag:</label>
          </mdb-form-control>

          <button
            class="btn btn-warning text-capitalize mt-2"
            (click)="addImageToTasks()"
          >
            <i class="fas fa-cloud-download-alt"></i> Add to Pulls
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
