<div class="container">
  <h2 class="h2-responsive text-center fw-bold navbar-text">
    <i class="fas fa-cubes"></i> Containers
  </h2>

  <div class="card" data-aos="zoom-in" data-aos-duration="500">
    <div class="card-body">
      <p
        data-aos="zoom-in"
        data-aos-duration="500"
        data-aos-once="true"
        *ngIf="containers.length == 0"
        class="note border note-primary text-center"
      >
        There are no containers <i class="fas fa-exclamation-circle"></i>
      </p>
      <table *ngIf="containers.length != 0" class="table align-middle bg-white">
        <thead class="bg-light">
          <tr>
            <th></th>
            <th>Container ID</th>
            <th><i class="fas fa-battery-three-quarters"></i> Status</th>
            <th><i class="fas fa-box-open"></i> Image</th>
            <th><i class="fas fa-tags"></i> Container Name</th>
            <th><i class="fas fa-cogs"></i> Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="for; let container; of: containers; index as i">
          <tr>
            <td>{{ i + 1 }}.</td>
            <td>
              <button
                type="button"
                (click)="copyId(container.short_id)"
                class="btn btn-secondary btn-sm text-lowercase btn-rounded"
              >
                {{ container.short_id }}
              </button>
            </td>
            <td>
              <span
                class="text-capitalize p-2 badge badge-{{
                  getStatus(container.status)
                }} rounded-pill d-inline"
              >
                {{ container.status }}</span
              >
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-rounded text-lowercase"
                [routerLink]="['/images', container.image.short_id]"
              >
                {{ container.image.name }}
              </button>
            </td>

            <td>
              <button type="button" class="btn btn-rounded text-lowercase">
                {{ container.name }}
              </button>
            </td>

            <td class="text-center">
              <div mdbDropdown class="dropdown">
                <button
                  class="btn btn-sm btn-rounded text-white dropdown-toggle"
                  type="button"
                  style="background-color: #ec4a89"
                  id="dropdownMenuButton"
                  aria-expanded="false"
                  mdbDropdownToggle
                ></button>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu text-center"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li>
                    <a
                      *ngIf="container.status == 'exited'"
                      class="dropdown-item m-1"
                      (click)="startContainer(container.short_id)"
                    >
                      <i class="fas fa-play text-success"></i> Start</a
                    >
                  </li>

                  <li>
                    <a
                      *ngIf="container.status != 'exited'"
                      class="dropdown-item m-1"
                      (click)="stopContainer(container.short_id)"
                    >
                      <i class="fas fa-stop text-warning"></i> Stop</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item m-1"
                      (click)="getConfirmModal(container)"
                    >
                      <i class="fas fa-trash text-danger"></i> Delete</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item m-1"
                      [routerLink]="['/logs', container.short_id]"
                    >
                      <i style="color: #4c75a3" class="fas fa-file-alt"></i>
                      Logs
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
