<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ data.title }}</h5>
</div>
<div class="modal-body">
  <app-containers-modal
    *ngIf="data.modal_type == 'containers_modal'"
    [data]="data"
  ></app-containers-modal>
  <app-confirm-modal
    *ngIf="
      data.modal_type == 'delete_container_modal' ||
      data.modal_type == 'delete_image_modal'
    "
    [data]="data"
  ></app-confirm-modal>

  <app-run-container-modal
    *ngIf="data.modal_type == 'run_container_modal'"
    [data]="data"
  ></app-run-container-modal>
</div>
