<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ data.title }}</h5>
</div>
<div class="modal-body">
  <app-containers-modal
    *ngIf="data.is_container_modal"
    [data]="data"
  ></app-containers-modal>
  <app-confirm-modal
    *ngIf="
      !data.is_container_modal &&
      !data.is_run_container_modal &&
      !data.is_logs_modal
    "
    [data]="data"
  ></app-confirm-modal>
  <app-run-container-modal
    *ngIf="data.is_run_container_modal"
    [data]="data"
  ></app-run-container-modal>
</div>
