<div class="container" data-aos="zoom-out-right" data-aos-duration="500">
  <div class="card">
    <div class="card-body">
      <div class="row p-1">
        <div class="col-2">
          <img
            src="assets/images/logo.png"
            class="shadow-2 rounded-circle"
            alt="logo"
            style="width: 150px"
          />
          <br />
        </div>
        <div class="col-10">
          <blockquote
            class="note note-primary border w-75 m-auto mt-2 mb-2 p-1"
          >
            <h4 class="fw-bold">Docker Dashboard</h4>
            "Simple lightweight GUI application for working with Docker"
          </blockquote>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-6">
          <span class="fw-bold">
            <i class="fas fa-server text-success"></i> Server
          </span>
          <blockquote class="note note-success border">
            Starlette , Docker-SDK , Websockets, Pydantic, Supervisord
          </blockquote>
        </div>
        <div class="col-6">
          <span class="fw-bold">
            <i class="<p> fas fa-desktop text-warning"></i> Client
          </span>
          <blockquote class="note note-warning border">
            Angular, Tauri(rust), Mdb-angular, Ngx-toastr, AOS JS, Fontawesome
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
