<h1
  class="dodger-blue mt-1 text-center fw-bold"
  data-aos="fade-down"
  data-aos-duration="500"
>
  <i class="fas fa-box-open"></i> <span class="navbar-text">Images</span>
  <button
    class="btn btn-secondary btn-sm btn-rounded mb-1 text-capitalize mx-1"
    routerLink="/pull-images"
  >
    <i class="fas fa-cloud-download-alt"></i> Pull
  </button>
</h1>

<div *ngIf="(images$ | async).length == 0" class="card m-auto w-50">
  <div class="card-body">
    <p
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-once="true"
      class="note border note-primary text-center"
    >
      There are no images <i class="fas fa-exclamation-circle"></i>
    </p>
  </div>
</div>

<div class="container p-3" data-aos="zoom-out" data-aos-duration="500">
  <div class="card w-75 m-auto">
    <div class="card-body">
      <div class="total-images p-1">
        <strong>Total</strong>:
        <span class="text-success fw-bold">{{ (images$ | async).length }}</span>
        images
      </div>
      <table
        *ngIf="(images$ | async).length != 0"
        class="table align-middle mb-0 bg-white"
      >
        <thead class="bg-light">
          <tr>
            <th><i class="fas fa-box-open"></i> Image Name</th>
            <th><i class="fas fa-tags"></i> Tag</th>
            <th><i class="fas fa-cogs"></i> Action</th>
          </tr>
        </thead>
        <tbody *ngFor="for; let image; of: images$ | async">
          <tr>
            <td>
              {{ image.name }}
            </td>
            <td>{{ image.tag }}</td>
            <td>
              <button
                class="btn dodger-blue-bg text-white"
                routerLink="/images/{{ image.short_id }}"
              >
                Go
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
