{{ numberOfTasks() }}
<div class="container">
  <div class="card" data-aos="zoom-in">
    <div class="card-body p-3">
      <h2 class="text-center">
        <i class="fas fa-tasks text-success"></i> Pulls
      </h2>
      <div class="form-check form-switch">
        <input
          mdbCheckbox
          [(ngModel)]="multiplePullingEnabled"
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
          mdbTooltip="If checked, it will enable the pull of multiple images at the same time.
          "
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Multiple images </label
        ><br />
        Total:
        <span class="text-success fw-bold">{{ numberOfTasks() }}</span> tasks
      </div>

      <blockquote
        *ngIf="numberOfTasks() == 0"
        class="note w-75 m-auto text-center note-primary border mb-3"
      >
        No pending tasks yet ..
      </blockquote>

      <ul class="list-group list-group-light">
        <li class="list-group-item m-auto" *ngFor="let key of getTaskKeys()">
          <p>
            <span class="fw-bold">{{ tasks[key].repository }}</span>
            <span
              class="mx-1 p-2 badge dodger-blue-bg rounded-pill text-lowercase"
            >
              {{ tasks[key].tag }}</span
            >
            <button
              class="btn btn-sm btn-rounded btn-success text-capitalize"
              (click)="start(tasks[key].repository, tasks[key].tag)"
              mdbTooltip="Click for start || continue pulling"
              [disabled]="this.tasks[key].stream_data.length"
            >
              <i class="fas fa-play"></i>
            </button>

            <button
              class="btn btn-sm btn-rounded btn-danger text-capitalize mx-2"
              (click)="delete(tasks[key].repository, tasks[key].tag)"
              [disabled]="tasks[key].stream_data.length != 0"
            >
              <i class="fas fa-trash"></i>
            </button>

            <button
              class="btn btn-sm btn-light text-capitalize btn-rounded"
              *ngIf="tasks[key].status"
            >
              {{ tasks[key].status }}
            </button>
          </p>
          <div class="text-left">
            <textarea
              #textarea
              cols="110"
              rows="2"
              disabled
              [(ngModel)]="tasks[key].stream_data"
              [scrollTop]="textarea.scrollHeight"
            >
            </textarea>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
