<div class="container mt-1">
  <div
    class="row"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="navbar-text dodger-blue card-title">Welcome!</h4>
        <div class="text-center">
          <img
            src="assets/images/docker.png"
            class="img-fluid rounded-pill img-thumbnail"
            width="500px"
            alt=""
          />
        </div>
        <div class="border p-2">
          <p>
            Thanks for using <strong>Docker Dashboard!</strong> I hope this
            application will help with your development process. <br />
            Also, I opened a discussion on GitHub. I would be very happy if you
            write any ideas, feedback & suggestions.
          </p>
          <figcaption class="blockquote-footer">Abduaziz Ziyodov</figcaption>
        </div>
      </div>
    </div>
  </div>
</div>
